*{
    box-sizing: border-box;
}

body{
    margin: 0;
    display: grid;
    grid-template-columns: 20vw 80vw;
    grid-template-rows: 18vh 82vh;
}

a{  
    margin: 0;
    text-decoration: none;
    color: black;
}

a:hover, a img:hover{
    font-size: 1.25rem;
    width:1.25rem;
    height: auto;
}

.sideBar{
    grid-column: 1;
    grid-row:1/3;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    gap:1.5rem;
}

.sideBarLogo{
    padding-left: 1rem;
    font-size: min(1.5rem,3vw);
    display: flex;
    gap: min(1rem,3vw);
}

.sideBarLogo img{
    width:min(1.5em,3vw);
    height: auto;
}

.sideBarGroup{
    display: flex;
    flex-direction: column;

} 

.sideBarGroup p{
    margin:0.5rem;
}

.sideBarItem{
    margin: 0;
    padding:0 0 0 1rem;
    font-size: min(1rem,2vw);
    min-width: 90%;
    display: flex;
    gap:min(0.75rem,0.5vw);
}

 .sideBarItem img{
    width:min(1rem,2vw);
    height:auto;
 }


.header{
    grid-column:2/3;
    grid-row:1;
    border: solid black 1px;
}

.search img{
    width:min(1em,3vw);
    height:auto;
}

.search input{
    width: min(500px,50vw);
}

.search{
    display: flex;
    align-items: center;
    gap:1rem;
}

.notifications img{
    width:min(1.5em,3vw);
    height:auto;
}

.notifications{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerBottom img{
    width:min(2.5em,3vw);
    height:auto;
}

.headerTop{
    margin:15px 100px 10px 25px;
    display: flex;
    justify-content: space-between;
}
.headerBottom{
    margin:0 100px 25px 25px;
    display: flex;
    justify-content: space-between;
}


.profileInfo{
    display: flex;
    gap: 15px;
    align-items: center;
}
#small{
    font-size: 0.8rem;
}
.smallCircle{
    width:2rem;
    height:2rem;
    border-radius: 50%;
    background-color: orange;
    display: flex;
    justify-content: center;
}

.notifications{
    display:flex;
    gap:2rem;
}

.bigCircle{
    width:3rem;
    height:3rem;
    border-radius: 50%;
    background-color: orange;
    display: flex;
    justify-content: center;
}
.btns{
    display:flex;
    gap:25px;
    align-items: center;
}

button{
    width:80px;
    height:30px;
    border-radius: 20px;
    background-color: blue;
    color:white;
    border: none;
}

.cardsContainer{
     grid-column: 2/3;
     grid-row:2/3;
     border: solid black 1px;
     padding: 15px;
     display: grid;
     grid-template-columns: 4fr 1fr;

}
.heading{
    font-size: 1.2rem;
    font-weight: bold;
}

.card{
    max-width:max(350px,10vw);
    height:150px;
    border:solid 1px;
    border-radius: 10px;
    padding:15px;
    margin-top:15px;
    background:
    linear-gradient(to right, blue 0%, blue 2.5%, white 2.5%, white 100%);
    
}

.card p{
    margin: 5px;
    font-size: 0.85rem;
}
.card a{
    font-weight: bold;
}

.cardIcons{
    display: flex;
    justify-content: flex-end;
    gap:1rem;
    margin-top: 20px;
}
.cardIcons img{
    width:1.5rem;
    height: auto;
}

.leftCards{
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}

.rightCards{
    grid-column: 2;
    min-width: 250px;
    max-width:max(200px,10vw);
    height:240px;
    border:solid 1px;
    border-radius: 10px;
    padding:15px;
    font-size: 0.85rem;
}
.rightCards div{
    margin:0 10px 10px 10px;
}
.rightCards div::first-line{
    font-size: 1rem;
    font-weight: bold;
}

.topCard{
    margin-bottom: 25px;
}

.othersDiv{
    display:flex;
}

.others::first-line{
    font-weight: bold;
}

.bigCircle img{
    width:min(2.5em,3vw);
    height:auto;
}




